{% extends "account/layout.html" %}

{% block content %}

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"> </script> 
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script> 
<script src="/static/home/js/abbyApp.js"></script> 
<link href="/static/home/css/my_js_show.css" rel="stylesheet"> <!--消息框-->

<script>

function initVM(data) {
    $('#div-orders').show();
    var vm = new Vue({
        el: '#div-orders',     
        delimiters: ['{[', ']}'],
        data: {
            order_list: data.order_list,
            pageList : data.pageList,
            num_pages: data.num_pages,
            page: data.page, 
            offset: data.offset,
            company_name_list: data.company_name_list,
            type_list:data.type_list,
            material_name_list:data.material_name_list,
            taxPercent_list:data.taxPercent_list,
            operators:data.operators,
            monthNum:data.monthNum,
            cleanData:data.cleanData,
            queryString: data.queryString,
            username:data.username

        },
        // methods: {
        //     edit_blog: function (blog) {
        //         location.assign('/blog_vue/edit/' + blog.id);
        //     },
        //     delete_blog: function (blog) {
        //         showConfirm('Confirm Delete', 'Confirm delete id ="' + blog.id + '"? Could not recovery.', function () {
        //             location.assign('/blog_vue/delete/' + blog.id);
        //         });
        //     }
            
        // }

    });
}

$(function () {   
    getApi("/api/billing/{{page}}{{queryString}}", function (err, data) {//加载网页就运行
        if (err) {
            return showError(err);
        }
        $('#div-orders').hide(); // 隐藏所有 id="div-orders" 元素
        //alert(data.page);
        initVM(data);
           
    });
});

</script>
    



<div id="div-orders"> 



<div  class="container theme-showcase" role="main" >        
    <div class="jumbotron">

        <span v-for="u in operators" v-if= "u == username">
    
            <h2>添加报价单</h2>
           
            <div class="my-alert-danger"></div>  <!--消息框-->

            <form method="post" action="{% url 'add_billing_vue' %}">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon label-info">公司名称</span>
                <select name="company" class="form-control"   required>
                    
                    <option  v-for="(i,index) in company_name_list" >
                        
                        <template>{[i]}</template> <!-- 防变量闪烁 -->
                        
                    </option>
                    
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon label-info">订单类型</span>
                <select name="type" class="form-control" required>
                    
                    <option v-for="(i,index) in type_list">
                        <template>{[i]}</template>
                    </option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon label-info">制作项目</span>
                <input type="text" class="form-control" placeholder="制作项目描述" name="content" required />
            </div>
            <div class="input-group">
                <span class="input-group-addon">制作材料</span>
                <select name="material" class="form-control" >
                    <option v-for="(i,index) in material_name_list">
                        <template>{[i]}</template>
                    </option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">材料高度</span>
                <input type="text" class="form-control" placeholder="材料高度（设计类型不用填），3.2，默认是1" name="sizeHeight" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">材料宽度</span>
                <input type="text" class="form-control" placeholder="材料宽度（设计类型不用填），2，默认是1" name="sizeWidth" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">计量单价</span>
                <input type="text" class="form-control" placeholder="计量单价（制作类型不用填），34.5" name="price" />
            </div>
            <div class="input-group">
                <span class="input-group-addon label-info">订单数量</span>
                <input type="text" class="form-control" placeholder="订单数量，3，默认是1" name="count" required />
            </div>
            <div class="input-group">
                <span class="input-group-addon label-info">订单税率</span>
                <select class="form-control" name="taxPercent" required >
                    <option v-for="(i,index) in taxPercent_list">
                        <template>{[i]}</template>
                    </option>

                </select>
            </div>
            <button class="btn btn-lg btn-danger btn-block" type="submit">添加</button>
            </form>
     
           </span>  
            

            <h2>报价单查询</h2>
            <form method="get" action="{% url 'billing_vue' %}">
            <div v-for="u in operators" v-if= "u == username">   
            <div class="input-group">
                <span class="input-group-addon">公司名称</span>
                <input type="text" class="form-control" placeholder="公司名称" name="company" value="" autofocus />
                
            </div>

           <div class="input-group">
                <span class="input-group-addon">登记人员</span>
                <select name="author" class="form-control" >
                    <option value="">-</option>                  
                    <option v-for="i in operators" value="{[i]}">                       

                        <template>{[i]}</template>

                    </option>
                    
                </select>
            </div>
            </div>  

            <div class="input-group">
                <span class="input-group-addon">内容包含</span>
                <input type="text" class="form-control" placeholder="内容" value="" name="content" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">已结清</span>
                <input type="checkbox" name="checkout" />

                <span class="input-group-addon">未结清</span>
                <input type="checkbox" name="non_checkout" />
            </div>
            <p>
                <button class="btn btn-lg btn-primary" type="submit" name="month" value="1">单月</button>
                <button class="btn btn-lg btn-success" type="submit" name="month" value="3">季度</button> 
                <button class="btn btn-lg btn-info" type="submit" name="month" value="12">年度</button>
                 <button class="btn btn-lg btn-warning" type="submit" name="month" value="-1">所有</button> 
            </p>
            
            </form>
           
        </div> 
        
        <p>
        <span class="btn btn-lg btn-danger">
            <span v-if="monthNum == 1"> 单月</span>
            <span v-else-if=" monthNum == 3 "> 季度 </span>
            <span v-else-if=" monthNum == 12 "> 年度</span>
            <span v-else-if="monthNum < 0 "> 所有 </span>
            <span v-else> 前 <span v-text="monthNum"></span> 个月 </span>
        </span>
        <span> : </span> <span> {% include 'home/djangopage_vue.html' %} </span>   
    
        <form method="post" action="{% url 'makexlsx' %}">
        {% csrf_token %}
            <span class="btn btn-lg btn-primary"> 含税总价: {{ TotalTax }} </span>
            {% for k,v in cleanData.items %}
            <input type="text" class="form-control" value="{{ v }}" name="{{ k }}" style="display:none"/>
            {% endfor %}
            <input type="text" class="form-control" value="{{ page }}" name="page" style="display:none"/>
            <button class="btn btn-lg btn-info" type="submit" > 保存为Excel </button>
        </form>
        </p>    

        <table  class="table">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>ID</th>
                    <th>登记人</th>
                    <th>日期</th>
                     <!-- <span v-if=" user in operators ">   --> 
                    <th>公司</th>
                    <!-- </span> -->
                    <th>类型</th>
                    <th>内容</th>
                    <th>材料(价格*高*宽)</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>税率</th>
                    <th>含税价</th>
                    <th>结算</th>
                </tr>
            </thead>
            <tbody>
                

                <tr v-for="(i,index) in order_list"> 

                    <td><span v-text="index+1+(page-1)*offset"></span></td>
                    <td><span v-text="i.id"></span></td>
                    <td><span v-text="i.author "></span></td>
                    <!-- <td><span v-text="i.date "></span></td> -->
                    <td><span> {[ i.date.substring(0,10)+' '+i.date.substring(11,19)]} </span></td>
                    
                    <td><span v-text="i.company"></span></td>

                    <td>                   
                    <span v-if=" i.type != 'Manufacture' ">                    
                        <span v-text="i.type"></span>
                    </span>
                    <span v-else> 
                        制作
                    </span>
                    </td>
                    <td><span v-text="i.content"></span></td>
                    <td>
                    
                    <span v-if=" i.type == 'Manufacture' "> 
                        <span v-text="i.material"></span>(<span v-text="i.priceMaterial"></span> * <span v-text="i.sizeHeight"></span> * <span v-text="i.sizeWidth"></span>)

                    </span>
                    <span v-else> 
                        -
                    </span>
                    </td>
                    <td><span v-text="i.price"></span></td>
                    <td><span v-text="i.quantity"></span></td>
                    <td><span v-text="i.taxPercent"></span></td>
                    <td><span v-text="i.priceIncludeTax"></span></td>
                    
                    
                    <td>
                    <span v-if=" i.checkout ">                   
                      已完成
                    </span>
                    <span v-else> 
                       未结算
                    </span>
                    </td>
                </tr>
            
            
</tbody>
</table> 


            
     
      <span> {% include 'home/djangopage_vue.html' %} </span>   


</div> <!-- /container -->

</div>
{% endblock %}